
.headers {

    border-bottom: 1px solid #f4bbc9;

}

.cardColor {

    border: 1px solid #1b1464;
    background: #ffffff;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff
}

.secBtn {

    margin-top: 100px;

}   