.signUpCont {

    height: 250px;
    width: 350px;
    background-color: blueviolet;
    border-radius: 4px;

}

.signUpTitle {

    position: absolute;
    right: 50px;
    top: 350px;

}       

a {

    text-decoration: none;

}

.lbCont {

    display: flex;
    justify-content: center;

}

.loginBtn {

    width: 150px;

}