.signUpCont {

    height: 250px;
    width: 350px;
    background-color: blueviolet;
    border-radius: 4px;

}

.signUpTitle {

    position: absolute;
    right: 50px;
    top: 350px;

}

a {

    text-decoration: none;

}

.lbCont {

    display: flex;
    justify-content: center;

}

.loginBtn {

    width: 150px;

}

.homeImages {

    width: 400px;
    height: 250px;
    border-radius: 5px;

}

.cellCont {

    position: absolute;
    left: 414px;
    top: 15px;

}

.mateCont {

    position: absolute;
    right: 368px;
    top: 70px;

}
.cellTitle {

    font-size: 70px;
    color: white; 
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: black; 
    
}

.mateTitle {

    font-size: 70px;
    color: red; 
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: black; 

}

.menuIcon {

    width: 35px;
    height: 4px;
    background-color: black;
    border-radius: 3px;
    margin: 6px 0;

}

@media screen and (max-width: 768px) {

    .carouselCont {

        margin: 0px 10px;
    
    }

    .homeImages {

        width: 700px;
        height: 450px;
        border-radius: 5px;

    }

    .cellCont {

        position: absolute;
        left: 283px;
        top: 15px;
    
    }
    
    .mateCont {
    
        position: absolute;
        right: 242px;
        top: 70px;
    
    }

}

@media screen and (max-width: 427px) {

    .homeImages {

        width: 380px;
        height: 250px;
        border-radius: 5px;
    
    }

    .cellCont {

        position: absolute;
        left: 112px;
        top: 15px;
    
    }
    
    .mateCont {
    
        position: absolute;
        right: 70px;
        top: 70px;
    
    }    

}