.thumbIconD, .thumbIconU {

    width: 80px;
    height: auto;
    opacity: 0.5;

}

.thumbIconD {

    position: absolute;
    top: 410px;
    left: 30px;

}

.thumbIconD:hover {

    animation-duration: 1s;
    animation-name: rotateD;
    animation-iteration-count: infinite;
    animation-direction: reverse;

}

@keyframes rotateD {

    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }       

}

.thumbIconU {

    position: absolute;
    top: 410px;
    right: 30px;

}

.thumbIconU:hover {

    animation-duration: 1s;
    animation-name: rotateU;
    animation-iteration-count: infinite;
    animation-direction:reverse

}

@keyframes rotateU {

    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }       

}

.matesCont {

    display: flex;
    justify-content: center;

}

.mmCont {

    border-radius: 15px;
    background: #ffffff;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff

}  


.mmPic {

    width: 350px;
    height: 280px;
    border-radius: 6px 6px 0px 0px;

}

.matesBio {

    margin: 8px 0px 0px 5px;

}

@media screen and ( max-width: 768px ) {

    .thumbIconD, .thumbIconU {

        width: 110px;
        height: auto;
        opacity: 0.5;
    
    }
    
    .thumbIconD {
    
        position: absolute;
        top: 410px;
        left: 110px;
    
    }
    
    .thumbIconU {
    
        position: absolute;
        top: 410px;
        right: 110px;
    
    }

    .matesInfo {


    }

}

@media screen and ( max-width: 426px ) {

    .thumbIconD, .thumbIconU {

        width: 80px;
        height: auto;
        opacity: 0.5;
    
    }
    
    .thumbIconD {
    
        position: absolute;
        top: 410px;
        left: 30px;
    
    }
    
    .thumbIconU {
    
        position: absolute;
        top: 410px;
        right: 30px;
    
    }

    .matesInfo {


    
    }

    
}