.matesCont {

    color: #1b1464;

}

.thumbIconD, .thumbIconU {

    width: 80px;
    height: auto;
    opacity: 0.5;

}

.thumbIconD {

    position: absolute;
    top: 410px;
    left: 30px;

}

.thumbIconD:hover {

    animation-duration: 1s;
    animation-name: rotateD;
    animation-iteration-count: infinite;
    animation-direction: reverse;

}

.footCont {

    color: #1b1464;

}

.logoutBtn {

    width: 100px;
    border-radius: 10px;
    border: 1px solid #1b1464;
    background-color: #00000000;
    font-size: 21px;
    min-height: 48px;
    line-height: 1.29;
    color: #f267a0;
    font-weight: 400;
    box-shadow: 10px 10px 20px #bebebe,
    -15px -15px 30px #ffffff

}

.logoutBtn:hover {

    background-color: #f267a0;
    color: #1b1464;
    box-shadow: 10px 10px 20px #fd92a6,
    -15px -15px 30px #ffffff

}

@keyframes rotateD {

    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }       

}

.thumbIconU {

    position: absolute;
    top: 410px;
    right: 30px;

}

.thumbIconU:hover {

    animation-duration: 1s;
    animation-name: rotateU;
    animation-iteration-count: infinite;
    animation-direction:reverse

}

@keyframes rotateU {

    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }       

}

.matesCont {

    display: flex;
    justify-content: center;

}

.mmCont {

    border-radius: 15px;
    background: #ffffff;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff

}  

.mmPic {

    width: 320px;
    height: 280px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #f267a0,
    -15px -15px 30px #ffffff

}

.matesInfo {

    width: 350px;

}

.matesBio {

    margin: 8px 0px 0px 24px;

}

@media screen and ( min-width: 768px ) {

    .thumbIconD, .thumbIconU {

        width: 110px;
        height: auto;
        opacity: 0.5;
    
    }
    
    .thumbIconD {
    
        position: absolute;
        top: 410px;
        left: 150px;
    
    }
    
    .thumbIconU {
    
        position: absolute;
        top: 410px;
        right: 150px;
    
    }

    .matesInfo {

        width: 440px;
        height: 390px;

    }

    .mmPic {

        width: 400px;
        margin: 20px;
        border-radius: 10px;
        box-shadow: 10px 10px 20px #f267a0,
                   -15px -15px 30px #ffffff

    }

}

@media screen and ( min-width: 1024px ) {

    .thumbIconD, .thumbIconU {

        width: 110px;
        height: auto;
        opacity: 0.5;
    
    }
    
    .thumbIconD {
    
        position: absolute;
        top: 410px;
        left: 250px;
    
    }
    
    .thumbIconU {
    
        position: absolute;
        top: 410px;
        right: 250px;
    
    }

    .matesInfo {

        width: 500px;
        height: 420px;

    }

    .mmPic {

        width: 440px;
        margin: 30px;
        border-radius: 10px;
        box-shadow: 10px 10px 20px #f267a0,
                   -15px -15px 30px #ffffff

    }

    
}