.thumbIconD, .thumbIconU {

    width: 80px;
    height: auto;
    opacity: 0.5;

}

.thumbIconD {

    position: absolute;
    top: 410px;
    left: 30px;

}

.thumbIconU {

    position: absolute;
    top: 410px;
    right: 30px;

}

.matesCont {

    display: flex;
    justify-content: center;

}

.matesInfo {

    background-color: black;
    width: 350px;
    height: 300px;

}

@media screen and ( max-width: 768px ) {

    .thumbIconD, .thumbIconU {

        width: 110px;
        height: auto;
        opacity: 0.5;
    
    }
    
    .thumbIconD {
    
        position: absolute;
        top: 410px;
        left: 110px;
    
    }
    
    .thumbIconU {
    
        position: absolute;
        top: 410px;
        right: 110px;
    
    }

    .matesInfo {

        background-color: black;
        width: 380px;
        height: 360px;
    
    }

}

@media screen and ( max-width: 425px ) {

    .thumbIconD, .thumbIconU {

        width: 80px;
        height: auto;
        opacity: 0.5;
    
    }
    
    .thumbIconD {
    
        position: absolute;
        top: 410px;
        left: 30px;
    
    }
    
    .thumbIconU {
    
        position: absolute;
        top: 410px;
        right: 30px;
    
    }

    .matesInfo {

        background-color: black;
        width: 350px;
        height: 300px;
    
    }

}