.profileBody {
    background-color: #f7eeed;
}

.btnColor {
    background-color: #f191ac;
    border: 1px solid #f191ac;
    display: flex;
}

.btnColor:hover {
    background-color: #f4bbc9;
    border: 1px solid #f191ac;
}

.headers {
    border-bottom: 1px solid #f4bbc9;
}